body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  background-image: url(bg.png);
}

#features{
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 5px 5px 15px #00000080;
  overflow: hidden;
}

#buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
}

button:active{
  background-color: hsl(0, 0%, 50%);
}

.operator-btn{
  background-color: hsl(113, 25%, 30%);
  color: white;
}

.operator-btn:hover{
  background-color: hsl(113, 25%, 40%);
  color: white;
}

.operator-btn:active{
  background-color: hsl(113, 25%, 50%);
  color: white;
}

.erase-btn{
  background-color: hsl(0, 25%, 30%);
  color: white;
}

.erase-btn:hover{
  background-color: hsl(0, 25%, 40%);
  color: white;
}

.erase-btn:active{
  background-color: hsl(0, 25%, 50%);
  color: white;
}


input{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}